@import "../theme/variables";
@import "../theme/user-variables";

// Primary and accent color
.btn-primary,
.bg-primary {
    background-color: $primary !important;
    border-color: $primary !important;
    // color: $accent !important;
    font-weight: 500 !important;
}

// side bar
.voyager .side-menu .navbar-header {
    background: $accent;
    border-color: #f0ba08;
}
.side-menu {
    background: $accent !important;

    a {
        color: rgba(255, 255, 255, 0.87) !important;
    }

    a:hover {
        background-color: $accent-light !important;
    }

    li.active:not(.dropdown) {
        background-color: $accent-light !important;
    }
}

// Profile dropdown
.dropdown-menu,
.navbar .dropdown.profile .dropdown-menu {
    position: absolute !important ;
    left: -200px !important;
}

// Notifications
.notification-badge {
    position: absolute !important;
    right: 3px !important;
    bottom: 30px !important;
    background-color: #46be8a !important;
    z-index: 100 !important;
}

.notification-toggle-icon {
    color: #555555;
    margin-top: -5px;
}

.notifications-dropdowm-menu {
    width: 320px !important;

    .btn-delete-notifications {
        position: absolute;
        top: 0;
        right: 0;
        text-decoration: none !important;
    }

    .notification-icon {
        border-radius: 50%;
        padding: 12px 15px;
    }

    .notification-content {
        border-bottom: 1px solid rgba(0, 0, 0, 0.075);
    }

    .notification-title {
        font-weight: bolder;
        color: #555555;
        white-space: break-spaces;
    }
}

// Scroll bar
.has-cool-scrollbar::-webkit-scrollbar {
    width: 18px !important;
    height: 14px !important;
}
.has-cool-scrollbar::-webkit-scrollbar-thumb {
    background-color: #aeb4be;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box !important;
}
