//
// user.scss
// Use this to write your custom SCSS

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
em,
u {
    font-family: $font-family-sans-serif !important;
}

.image-zoom {
    height: 100% !important;
}

.bg-accent-light {
    background-color: $accent-light !important;
}

.disabled-element {
    opacity: 50%;
    pointer-events: none;
}

.center-loader {
    width: 3rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
}

.has-cool-scrollbar::-webkit-scrollbar {
    width: 18px !important;
    height: 14px !important;
}

.has-cool-scrollbar::-webkit-scrollbar-thumb {
    background-color: $gray-500;
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box !important;
}

.jp-card-container {
    margin-left: 20px !important;
}

.btn-whatsapp {
    position: fixed !important;
    right: 20px !important;
    bottom: 20px !important;
    z-index: 1025 !important;
    padding: 15px 18px !important;
    background-color: #4fce5d !important;
    border-color: #4fce5d !important;
}

.slider-item-image {
    width: 100%;
    height: auto;
}

@media (min-width: 1000px) {
    .slider-item {
        height: 80vh;
        background-size: cover !important;
        background-position: bottom !important;
        background-repeat: no-repeat !important;

        .slider-item-content {
            max-width: 50% !important;
        }

        .slider-item-image {
            width: 57%;
            height: auto;
        }
    }
}
